<div class="box_company">
  <div class="bread">
    <ol>
      <li><a href="<%= root_path %>">トップ</a></li>
      <li><a href="/company">企業情報</a></li>
    </ol>
  </div>
  <h1>企業情報</h1>
  <a name="message"><h2>はじめに</h2></a>
  <div class="box_message">
  <h3><i class="fa fa-chevron-right"></i>ご挨拶</h3>
    <ul>
      弊社は設立から半世紀が経ちました。これも一重に支えてくださった方々のおかげであると深く感謝申し上げます。瓦・屋根材副資材の販売を主力として参りましたこれまでの実績のうえに、「屋根空間の活用」という新しい視点で、時代のニーズに応えることのできる新しい価値を創造しようとしております。<br><br>
      日本の屋根空間には、まだ様々な可能性が残っているのではないかと考えます。例えば、エネルギーの創出に生かすという視点では、太陽光発電が挙げられます。愛でる空間として、伝統的な日本瓦の美しさを守り伝える一方で、デザイン性の高い近代的な商品のニーズも高まっております。成熟した日本において、商品やサービスの差異はなくなっておりますが、視点やものの捉え方によって、ユニークで明るい広がりが創造できると確信しております。<br><br>
      これまでの半世紀のような経済成長を期待するのは現実的ではないと思われます。人口が減少していくこの国にあって、しかし、それでもなお成長を指向し、弊社独自の固有の価値を築いていくことに力を注ぎたいと思います。<br><br>
      これまで支えてくださった方々への感謝を胸に、いっそう貢献できるよう、さらなる飛躍をめざして参ります。今後とも白神商事をよろしくお願いいたします。
    </ul>
  </div>
  <a name="business"><h2>事業内容</h2></a>
  <div class="box_business">
    <a name="business_roofing"><h3><i class="fa fa-chevron-right"></i>屋根材卸事業</h3></a>
    <div class="box_business_roofing">
      <ul>
        日本の瓦の多くを生産する瓦の大産地「三州」をはじめ、「淡路」「石州」など各産地瓦を幅広く取り扱っております。また、軽量屋根材、鋼板屋根材、エコ商品および海外商品についても取り扱いを拡大しております。いずれも一貫した品質管理のもと、十分に吟味された製品です。和風・洋風を問わず50年、100年と美しく快適な空間をお約束します。これまでの実績から得られた確かな知識とスピード感を持って対応し、修繕・補修などのニーズにもお応えして、１枚から販売いたします。
      </ul>
    </div>
    <a name="business_solar"><h3><i class="fa fa-chevron-right"></i>太陽光発電システム事業</h3></a>
    <div class="box_business_solar">
      <ul>
        屋根に載せる太陽光発電は、屋根専門の弊社にお任せください。太陽光発電は、どのメーカーも性能を上げ、品質の差がほとんどありませんが、それを載せる屋根は、それぞれの住宅によって条件が異なります。屋根としての性能を損なうことなく、適正に施工のご案内ができるのも弊社の強みです。施工後の保守メンテナンスも、太陽光発電のみならず、屋根の点検にいたるまで屋根のプロが対応いたします。
      </ul>
    </div>
    <a name="business_web"><h3><i class="fa fa-chevron-right"></i>屋根空間コンサルティング事業</h3></a>
    <div class="box_business_web">
      <ul>
        弊社独自のブランドサービス「やねいろは」を通じて、アナログ・デジタルの両面からお客さまにとっての有益情報をお届けして参ります。実際の商品に見て触れて納得していただく展示場の運営。顔を合わせて行う安心対応の相談窓口。地域や時間の差に縛られず、多くの情報をわかりやすくタイムリーに発信できるウェブサイトの活用。また、お客さまと住まいに関するプロをつなぐネットワークも完備。これらを中心に、常にお客さまのそばに寄り添い、屋根空間のベストパートナーとして尽力いたします。<br>
        <br>
        やねいろは：<a href="http://yaneiroha.com/" target="_blank">http://yaneiroha.com/</a><br>
        屋根工事店とエンドユーザーを”想い”で結ぶマッチングサービス<br>
        <br>
        やねいろは情報サイト：<a href="http://yaneiroha-info.com/" target="_blank">http://yaneiroha-info.com/</a><br>
        「やねいろは」姉妹サイト。エンドユーザー向けに屋根に関する様々な情報を提供<br>
      </ul>
    </div>
  </div>
  <a name="overview"><h2>企業概要</h2></a>
  <div class="box_overview">
    <h3><i class="fa fa-chevron-right"></i>企業概要</h3>
    <ul>
      <table class="overview">
        <tbody>
          <tr>
            <th>会社名</th>
            <td>白神商事株式会社</td>
          </tr>
          <tr>
            <th>代表取締役</th>
            <td>白神康一郎</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>〒702-8024　岡山県岡山市南区浦安南町579</td>
          </tr>
          <tr>
            <th>電話</th>
            <td>086-264-3415（屋根材卸事業部門、太陽光発電システム事業部門）
            <br>086-238-1288（屋根空間コンサルティング事業部門）</td>
          </tr>
          <tr>
            <th>FAX</th>
            <td>086-264-3699</td>
          </tr>
          <tr>
            <th>事業</th>
            <td>屋根材卸売事業、太陽光発電システム販売業、屋根空間コンサルティング事業</td>
          </tr>
          <tr>
            <th>資本金</th>
            <td>1,000万円</td>
          </tr>
          <tr>
            <th>設立</th>
            <td>昭和32年（1957年）1月</td>
          </tr>
          <tr>
            <th>創業</th>
            <td>昭和23年（1948年）10月</td>
          </tr>
          <tr>
            <th>社員数</th>
            <td>8名（2016年4月現在）</td>
          </tr>
        </tbody>
      </table>
    </ul>
    <h3><i class="fa fa-chevron-right"></i>経営理念</h3>
      <ul>
        感謝・貢献・価値創造<br>
        <br>
        白神商事は、価値創造をとおしてお客さまのお役に立ち、唯一無二の存在として社会に貢献します<br>
        白神商事の社員は、お客さま、地域の人、ともに働く仲間のすべてに感謝の気持ちで接します
      </ul>
    <h3><i class="fa fa-chevron-right"></i>ミッション</h3>
      <ul>
        屋根空間の可能性を追求し、暮らしの安心と快適を創造します
      </ul>
    <h3><i class="fa fa-chevron-right"></i>行動指針</h3>
      <ul>
        <li>互いに笑顔になる、気持ちいいあいさつをします</li>
        <li>互いに助け合い、ともに成長します</li>
        <li>日々の業務を共有し、互いを気遣います</li>
        <li>日々の業務を改善し、創意工夫を繰り返します</li>
        <li>報連相を徹底し、全員で顧客満足を高めます</li>
      </ul>
  </div>
  <a name="history"><h2>沿革</h2></a>
  <div class="box_history">
    <ul>
      <table class="history">
        <tbody>
          <tr>
            <th>昭和13年（1938年）</th>
            <td>岡山県岡山市北区下石井にて酒類等の販売を開始</td>
          </tr>
          <tr>
            <th>昭和25年（1950年）</th>
            <td>岡山県岡山市北区幸町にて外装用塗料の販売を開始。黒鉛、弁柄等をセメント工場へ販売開始</td>
          </tr>
          <tr>
            <th>昭和32年（1950年）</th>
            <td>白神商店を法人に変え、白神商事（株）となる</td>
          </tr>
          <tr>
            <th>昭和40年（1965年）</th>
            <td>神東塗料（株）、日本特殊塗料（株）の代理店となる。塗装整備、塗装機器の販売を開始。下中野工場にて防水剤、セメント剥離剤の製造及び卸、小売を開始</td>
          </tr>
          <tr>
            <th>昭和58年（1983年）</th>
            <td>社屋を岡山県岡山市南区浦安南町へ移転</td>
          </tr>
          <tr>
            <th>昭和60年（1985年）</th>
            <td>瓦（陶器瓦、セメント瓦）の販売及び屋根副資材、屋根材塗装剤の販売を開始</td>
          </tr>
          <tr>
            <th>平成2年（1990年）</th>
            <td>野安製瓦（株）（現・三州野安（株））の特約店となる</td>
          </tr>
          <tr>
            <th>平成7年（1995年）</th>
            <td>マルスギ（株）の特約店となる</td>
          </tr>
          <tr>
            <th>平成9年（1997年）</th>
            <td>新東（株）の代理店となる</td>
          </tr>
          <tr>
            <th>平成20年（2010年）</th>
            <td>ラファージュルーフィング（株）の代理店となる</td>
          </tr>
          <tr>
            <th>平成22年（2010年）</th>
            <td>メトロタイルジャパン（株）の特約店となる</td>
          </tr>
          <tr>
            <th>平成23年（2011年）</th>
            <td>デクラ屋根システムの特約店となる</td>
          </tr>
          <tr>
            <th>平成24年（2012年）</th>
            <td>丸栄陶業（株）の代理店となる</td>
          </tr>
          <tr>
            <th>平成25年（2013年）</th>
            <td>シャープ（株）の特約店となる</td>
          </tr>
          <tr>
            <th>平成25年（2013年）</th>
            <td>東芝（株）の販売店となる</td>
          </tr>
          <tr>
            <th>平成25年（2013年）</th>
            <td>パナソニック（株）の販売店となる</td>
          </tr>
          <tr>
            <th>平成25年（2013年）</th>
            <td>（株）ディートレーディングの販売店となる</td>
          </tr>
          <tr>
            <th>平成25年（2013年）</th>
            <td>旭ファイバーグラス（株）の販売店となる</td>
          </tr>
          <tr>
            <th>平成26年（2014年）</th>
            <td>オーウェンス コーニング ジャパン（同）の販売店となる</td>
          </tr>
          <tr>
            <th>平成26年（2014年）</th>
            <td>長州産業（株）の販売店となる</td>
          </tr>
          <tr>
            <th>平成26年（2014年）</th>
            <td>カナディアン・ソーラー・ジャパン（株）の販売店となる</td>
          </tr>
          <tr>
            <th>平成26年（2014年）</th>
            <td>開口付同質支持瓦の販売店となる</td>
          </tr>
          <tr>
            <th>平成26年（2014年）</th>
            <td>（株）鶴弥の販売店となる</td>
          </tr>
        </tbody>
      </table>
    </ul>
    </p>
  </div>
<a name="access"><h2>アクセス</h2></a>
  <div class="box_access">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13136.739234900231!2d133.9250881!3d34.599488!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4a259e8dc022a!2z55m956We5ZWG5LqL77yI5qCq77yJ!5e0!3m2!1sja!2sjp!4v1443596949943" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>