<div class="box_inquiry">
  <div class="bread">
    <ol>
      <li><a href="<%= root_path %>">トップ</a></li>
      <li><a href="/inquiry">お問い合わせ</a></li>
    </ol>
  </div>
  <h1>お問い合わせ</h1>
<!-- 内容が入ります -->
  <div class="box_inquiry_pretext">
    お問い合わせ先は事業により異なります<br>
    下記からお選び下さい
  </div>
  <h3>屋根材卸事業、太陽光発電システム事業</h3>
  <div class="box_inquiry_1">
  <h4><i class="fa fa-chevron-right">メールアドレス</i></h4>
    <ul>
      shiraga@proof.ocn.ne.jp
    </ul>
  <h4><i class="fa fa-chevron-right">電話番号</i></h4>
    <ul>
      086-264-3415<br>
      ※営業のお電話はお控え下さい
    </ul>
  </div>
  <h3>屋根空間コンサルティング事業</h3>
  <div class="box_inquiry_2">
  <h4><i class="fa fa-chevron-right">メールアドレス</i></h4>
    <ul>
      info@yaneiroha.com
    </ul>
  <h4><i class="fa fa-chevron-right">電話番号</i></h4>
    <ul>
      086-238-1288<br>
      ※営業のお電話はお控え下さい
    </ul>
  </div>
</div>
