<div class="box_link">
  <div class="bread">
    <ol>
      <li><a href="<%= root_path %>">トップ</a></li>
      <li><a href="/link">リンク</a></li>
    </ol>
  </div>
  <h1>リンク</h1>
  <div class="box_link_pretext">
    企業名をクリックすると企業サイトに移動します
  </div>
  <h2>屋根材メーカー</h2>
  <div class="box_link_1_1">
  <h3><i class="fa fa-chevron-right"></i>瓦</h3>
    <ul>
      <div class="box_link_1_1_1">
        <h4><i class="fa fa-chevron-right"></i>粘土瓦（三州瓦）</h4></a>
        <ul>
          <h4><a href="http://www.noyasu.com/" target="_blank">三州野安株式会社</h4></a>
          <h4><a href="http://www.try110.com/" target="_blank">株式会社鶴弥</h4></a>
          <h4><a href="http://www.marusugi.co.jp/" target="_blank">マルスギ株式会社</h4></a>
          <h4><a href="http://www.eishiro.co.jp/" target="_blank">丸栄陶業株式会社</h4></a>
          <h4><a href="http://www.shintokawara.co.jp/" target="_blank">新東株式会社</h4></a>
        </ul>
      </div>
      <div class="box_link_1_1_2">
        <h4><i class="fa fa-chevron-right"></i>粘土瓦（石州瓦）</h4></a>
        <ul>
          <h4><a href="http://www.shibao.co.jp/" target="_blank">株式会社シバオ</h4></a>
          <h4><a href="http://www.kawara.co.jp/" target="_blank">株式会社丸惣</h4></a>
          <h4><a href="http://kimura-kawara.co.jp/" target="_blank">株式会社木村窯業所</h4></a>
          <h4><a href="http://user.iwamicatv.jp/honkimachi/" target="_blank">亀谷窯業有限会社</h4></a>
        </ul>
      </div>
      <div class="box_link_1_1_3">
        <h4><i class="fa fa-chevron-right"></i>粘土瓦（淡路瓦）</h4>
        <ul>
          <h4><a href="http://www.noborikawara.com/" target="_blank">株式会社登瓦製造所</h4></a>
          <h4><a href="http://inouekawara.com/" target="_blank">井上瓦産業株式会社</h4></a>
          <h4><a href="http://www.showa-rooftile.co.jp/" target="_blank">昭和窯業株式会社</h4></a>
          <h4><a href="http://asahiyogyo.com/" target="_blank">朝日窯業株式会社</h4></a>
          <h4><a href="http://www.kincera.net/" target="_blank">近畿セラミックス株式会社</h4></a>
          <h4><a href="http://www.minatokawara.jp/" target="_blank">みなと瓦産業株式会社</h4></a>
          <h4><a href="http://www.nomizu.co.jp/" target="_blank">野水瓦産業株式会社</h4></a>
        </ul>
      </div>
      <div class="box_link_1_1_4">
        <h4><i class="fa fa-chevron-right"></i>セメント瓦</h4></a>
        <ul>
          <h4><a href="http://www.fujislate.com/jp/" target="_blank">富士スレート株式会社</h4></a>
        </ul>
      </div>
    </ul>
  </div>
  <div class="box_link_1_2">
  <h3><i class="fa fa-chevron-right"></i>化粧スレート</h3></a>
    <ul>
      <div class="box_link_1_2_1">
          <h4><a href="http://www.kmew.co.jp/" target="_blank">ケイミュー株式会社</h4></a>
      </div>
   </ul>
  </div>
  <div class="box_link_1_3">
  <h3><i class="fa fa-chevron-right"></i>金属屋根</h3></a>
    <ul>
      <div class="box_link_1_3_1">
        <h4><i class="fa fa-chevron-right"></i>金属屋根</h4></a>
        <ul>
          <h4><a href="http://www.gantan.co.jp/" target="_blank">元旦ビューティ工業株式会社</h4></a>
          <h4><a href="http://www.sankometal.co.jp/" target="_blank">三晃金属工業株式会社</h4></a>
          <h4><a href="http://www.yodoko.co.jp/product/ken/" target="_blank">株式会社淀川製鋼所</h4></a>
          <h4><a href="http://www.jfe-kouhan.co.jp/" target="_blank">JFE鋼板株式会社</h4></a>
          <h4><a href="http://www.igkogyo.co.jp/" target="_blank">アイジー工業株式会社</h4></a>
        </ul>
      </div>
      <div class="box_link_1_3_2">
        <h4><i class="fa fa-chevron-right"></i>その他金属屋根（石付き金属屋根）</h4></a>
        <ul>
          <h4><a href="http://www.decra-roof.jp/" target="_blank">AHI ROOFING</h4></a>
          <h4><a href="http://www.metrotile.jp/" target="_blank">メトロタイルジャパン株式会社</h4></a>
          <h4><a href="http://www.deeroof.com/" target="_blank">株式会社ディートレーディング</h4></a>
          <h4><a href="http://ickroof.net/" target="_blank">スカイメタルルーフ</h4></a>
        </ul>
      </div>
    </ul>
  </div>
  <h2>太陽光メーカー</h2>
  <div class="box_link_2_1">
  <h3><i class="fa fa-chevron-right"></i>日本メーカー</h3></a>
    <ul>
      <div class="box_link_2_1_1">
          <h4><a href="http://www.sharp.co.jp/sunvista/" target="_blank">シャープ株式会社</h4></a>
          <h4><a href="http://www.kyocera.co.jp/solar/" target="_blank">京セラ株式会社</h4></a>
          <h4><a href="https://sumai.panasonic.jp/solar/" target="_blank">パナソニック株式会社</h4></a>
          <h4><a href="http://www.toshiba.co.jp/sis/h-solar/index_j3.htm" target="_blank">株式会社東芝</h4></a>
          <h4><a href="https://www.mitsubishielectric.co.jp/service/taiyo/" target="_blank">三菱電機株式会社</h4></a>
          <h4><a href="http://www.solar-frontier.com/jpn/" target="_blank">ソーラーフロンティア株式会社</h4></a>
          <h4><a href="http://www.cic-solar.jp/" target="_blank">長州産業株式会社
</h4></a>
          <h4><a href="http://www.kaneka-solar.jp/" target="_blank">株式会社カネカ</h4></a>
      </div>
    </ul>
  </div>
  <div class="box_link_2_2">
  <h3><i class="fa fa-chevron-right"></i>海外メーカー</h3></a>
    <ul>
      <div class="box_link_2_2_1">
          <h4><a href="http://www.q-cells.jp/" target="_blank">ハンファＱセルズジャパン株式会社</h4></a>
          <h4><a href="http://canadiansolar.co.jp/" target="_blank">カナディアン・ソーラー・ジャパン株式会社</h4></a>
          <h4><a href="http://www.yinglisolar.com/jp/" target="_blank">インリー・グリーンエナジー</h4></a>
          <h4><a href="http://www.trinasolar.com/jp/" target="_blank">トリナ・ソーラー・ジャパン株式会社</h4></a>
          </div>
    </ul>
  </div>
  <h2>その他お世話になっている会社様</h2>
  <div class="box_link_3_1">
      <div class="box_link_3_1_1">
      <ul>
        <h4><a href="http://region-inc.jp/" target="_blank">リージョン株式会社</h4></a>
      </ul>
    </div>
  </div>
</div>
