<div class="box_staff">
  <div class="bread">
    <ol>
      <li><a href="<%= root_path %>">トップ</a></li>
      <li><a href="/staff">採用情報</a></li>
    </ol>
  </div>
    <h1>採用情報</h1>
      <h3><i class="fa fa-chevron-right"></i>白神商事が求める人材像</h3>
        <div class="box_humandemand">
          <ul>
            当社の理念である"感謝"、"貢献"、"価値創造"のもと、お客様や当社社員、あなたの家族、そして地域の皆様に対して、”感謝”をして、その気持ちで”貢献”を行い、結果として”価値”を”創造”できる人材<br>
          </ul>
        </div>
      <h3><i class="fa fa-chevron-right"></i>求められる能力</h3>
        <div class="box_abilitydemand">
          <ul>
            周りの人に感謝し、自分を高め続けられる素直な心<br>
            仕事に対する当事者意識を持ち、考え、行動し続けられる責任感<br>
          </ul>
        </div>
      <h3><i class="fa fa-chevron-right"></i>職歴・学歴・その他</h3>
        <div class="box_careerdemand">
          <ul>
            年齢・学歴・国籍は問いません
          </ul>
        </div>
      <h3><i class="fa fa-chevron-right"></i>仕事内容</h3>
        <div class="box_workdescription">
          <ul>
            <h4><i class="fa fa-chevron-right"></i>ルート営業（配送スタッフ）</h4>
              <ul>
                既存顧客を中心に屋根材の販売・配達を行います。<br>
                ■配達エリアは岡山県内が中心です。<br>
                ■１日の訪問件数は２〜４件程度です。<br>
                ■３ｔトラックを使用、商品の積み下ろしなども行います。<br>
                商品配達をメインにしたルート営業のようなイメージです。<br>
                顧客との信頼関係は構築できているため、受発注や情報提供などのサポート業務が中心になります。<br>
                ※研修方法について<br>
                いきなり全てをお任せするのではなく、先輩スタッフの同行を通じて商品知識や仕事の流れを覚えていきます。<br>
                各種資格取得の支援制度も完備しています。<br>
              </ul>
            <h4><i class="fa fa-chevron-right"></i>やねいろは新規営業・取材（新規営業スタッフ）</h4>
              <ul>
                WEBサイト（やねいろは）のスタッフとして工事店への新規顧客開拓（営業）や当該工事店への取材・アフターフォローを行います。<br>
                ■営業エリアは全国です（営業拠点は岡山もしくは東京、大阪となります）。<br>
                ■１日の訪問件数は２〜４件程度です。<br>
                ■自動車を運転しての訪問になります。<br>
                新規顧客の開拓ですが、当社が保有するネットワークなども用いて総合的に新規顧客に接していくイメージです。<br>
                工事店への取材を行い、取材を通して得た工事店の生き方、想いを汲み取り、記事にします。<br>
                ※研修方法について<br>
                先輩スタッフの同行や当社が持つ屋根材料及び屋根工事知識を勉強して頂きながら、仕事内容を覚えていきます。<br>
                各種資格取得の支援制度も完備しています。<br>
              </ul>
          </ul>
        </div>
      <h3><i class="fa fa-chevron-right"></i>待遇</h3>
        <div class="box_treatment">
          <ul>
            年収：経験年数・能力による、応相談<br>
            休日：日曜日、祝日、土曜日（月一回）（出勤の場合は代休）、その他休暇（お盆休暇、年末年始休暇）<br>
          </ul>
        </div>
      <h3><i class="fa fa-chevron-right"></i>採用お問い合わせ先</h3>
        <div class="box_recruitinquiry">
          <ul>
            履歴書を以下の住所まで郵送でお送り下さい。<br>
            また、封筒の裏面に住所・お名前をご記載下さい。<br>
            なお、履歴書は返却いたしませんので、その旨ご了承頂いた上で送付頂きますようお願いいたします。<br>
            <br>
            宛先名：白神商事株式会社　採用担当者<br>
            住　所：〒702-8024　岡山県岡山市南区浦安南町579<br>
            <br>
            ご不明なところがございましたら、お問い合わせ下さい。<br>
            （「採用の件で電話しました」とお話下さい）<br>
            電　話：086-264-3415<br>
          </ul>
        </div>
  </div>
